node_modules
dist
target

.turbo
**/.turbo/**


*.lock
*lock.yaml
package-lock.json

*.dylib
*index.node

**/*/cargo.log

**/dist/**
**/.DS_Store
.DS_Store
combined.log

electron/resources/logs/*

**/app