{
    "extends": [
        "prettier"
    ],
    "printWidth": 100,
    "semi": false,
    "useTabs": true,
    "trailingComma": "none",
    "spaceBeforeFunctionParen": false,
    "singleQuote": true
}